<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Home Page</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>

	<div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Player Menu</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <div class="col-lg-12">
                            <div class="col-lg-3">
                                <button type="button" routerLink="/dashboard/progress" class="btn btn-lg btn-block btn-primary">View Class Progress</button>
                            </div>
                            <div class="col-lg-10"></div>
                        </div>
                        <div class="col-lg-12">
                            View full class progress or select a student below to view individual progeress
                        </div>
                        <table class="table table-striped table-bordered table-hover">
                            <tbody>
                                <tr>
                                    <td>Billy</td>
                                </tr>
                                <tr>
                                    <td>Sarah</td>
                                </tr>
                                <tr>
                                    <td>Russel</td>
                                </tr>
                                 <tr>
                                    <td>Janathan</td>
                                </tr>
                                 <tr>
                                    <td>Stev</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            	</div>
        	</div>
    	</div>
	</div>


</div>
