<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sign Up</h3>
        </div>
        <div class="panel-body">
          <form [formGroup]="signupForm" role="form" name="signupForm" (submit)="signupUser()">
            <fieldset>
              <div class="form-group">
                <input formControlName="firstName" class="form-control" placeholder="First Name" name="firstname" type="text">
              </div>
              <div class="form-group">
                <input formControlName="lastName" class="form-control" placeholder="Last Name" name="lastname" type="text">
              </div>
              <div class="form-group">
                <input formControlName="email" class="form-control" placeholder="E-mail" name="email" type="email">
              </div>
              <div class="form-group">
                <input formControlName="password" class="form-control" placeholder="Password" name="password" type="password">
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Re-enter Password" name="password" type="password" value="">
              </div>
              <!-- Change this to a button or input when using this as a form -->
              <button type="submit"  class="btn btn-lg btn-primary btn-block">Sign Up</button>
              <button routerLink="/login" class="btn btn-lg btn-success btn-block">Login</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
